<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<table calss ="profile">
  <tr>
    <td class ="main">
      <h2><%= h  current_user.login %></h2>
    </td>
    <td class ="sidebar round">
      <strong>Name</strong> <%= h  current_user.login %> <br />

    </td>
  </tr>


</table>

